*.csv
*.xlsx
*.env
**/.DS_Store
__pycache__/
*.py[cod]
data_infra/data/
MQS/
finbert-finetuned-final/
finber_eval_results/
local-gpt2-model/
visualise_gpt2.ipynb
*.pyc
*.egg-info/
venv/
.env
*.lock
.vscode/
src/backtest/data

# Jupyter Notebook outputs (keeps diffs clean)
*.ipynb_checkpoints/
**/.ipynb_checkpoints/
# Build artifacts
build/
dist/